<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'vault-style.css' %}">
</head>
<body>
    <div class="container">
    <div class="main">
        <h1>ADD FILES</h1>
         <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" id="" class="input" placeholder="name" required><br><br>
        <input type="number" name="phn_num" id="" placeholder="phone number"><br><br>
        <input type="submit" value="add" class="input1"><br><br>
    </form>
    </div>
    </div>
   

   
</body>
</html>